---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Full Stack Developer",
    company: "UpSpain",
    description:
      "Encargado frontend en la creacion de la web BillingMiddleware, consumo de diversos end-points, sistema de autenticación y diversas funciones para el óptimo funcionamiento, esto se llevó a cabo utilizando tecnologías como Angular, HTML , TailwindCss, SweetAlert. Apoyo en el backend la cual implementamos arquitectura hexagonal, utilizando DDD, optimizando la lógica del dominio y mejorando la escalabilidad del sistema con PHP y Symfony.",
    link: "https://www.linkedin.com/company/up-spain/mycompany/verification/",
  },
  {
    date: "Mayo 2023 – Octubre 2023",
    title: "Frontend Engineer",
    company: "E-ASY",
    description:
      "Diseño y desarollo de apps usando Next.js, JavaScript, React, Redux, CSS para el front y Node.Js, ExpressJS y Sequelize para el back. ",
      link: "https://www.linkedin.com/company/insideeasy/"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
